* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent-color: rgb(252, 163, 17);
}

#app {
    display: flex;
}

button {
    cursor: pointer;
}

/* sidebar navigation */
h1 {
    color: white;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 1rem;
}

.sidebar {
    background: black;
    width: 200px;
    height: 100vh;
    padding: 1rem;
}

/* nav items */
ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding-top: 25px;
}

.nav-item {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-item img {
    width: 25px;
    height: 25px;
}

.nav-item.active {
    border-radius: 0.2rem;
    padding: 0.2rem;
    background: var(--accent-color);
    opacity: 80%;
}

/* task section */
.task-section {
    padding: 1rem;
}

.task-title {
    font-size: 1.8rem;
}

.add-task-button {
    display: flex;
    font-size: 1.3rem;
    gap: 0.4rem;
    padding-top: 1rem;
    border: none;
    background: none;
}

.plus-icon {
    width: 25px;
}

.delete-button {
    padding: 0.3rem 1.3rem;
    border-radius: 9999px;
    margin-top: 20px;
}

/* modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-overlay.open {
  display: flex;
}

.modal {
  background: white;
  color: white;
  padding: 1rem 2rem;
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-title {
    color: black;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name-input {
    width: 100%;
}

.description-input {
    height: 150px;
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
} 

.action-button {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--accent-color);
    outline: none;
    background: none;
}

/* media queries */
@media screen and (min-width: 769px) {

}
